tools/n8n-flows/github-parent-ci-failure-issue-manager.json
{
  "name": "Manage Parent Repo CI Failure Issue",
  "nodes": [
    {
      "parameters": {},
      "id": "execute-workflow-trigger",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Validate input and compute has_failures\nconst input = $input.first().json;\n\n// Validate required fields\nif (!input.summary || !input.results) {\n  throw new Error('INVALID_INPUT: Missing summary or results field');\n}\n\nconst { summary, results, overall_success } = input;\n\n// Compute has_failures (defensive logic)\nconst has_failures = \n  (summary.failed > 0) ||\n  (summary.errors > 0) ||\n  (overall_success === false) ||\n  results.some(r => r.status !== 'completed' || r.ci_success !== true);\n\n// Split runs into successful and unsuccessful\nconst successful_runs = results\n  .filter(r => r.status === 'completed' && r.ci_success === true)\n  .map(r => ({\n    target_id: r.target_id,\n    run_url: r.run_url\n  }));\n\nconst unsuccessful_runs = results\n  .filter(r => r.status !== 'completed' || r.ci_success !== true)\n  .map(r => ({\n    target_id: r.target_id,\n    status: r.status,\n    conclusion: r.conclusion || null,\n    error_code: r.error_code || null,\n    run_url: r.run_url || null\n  }));\n\nconsole.log('Input validated:', {\n  has_failures,\n  successful_count: successful_runs.length,\n  unsuccessful_count: unsuccessful_runs.length\n});\n\nreturn [{\n  json: {\n    ...input,\n    has_failures,\n    successful_runs,\n    unsuccessful_runs\n  }\n}];"
      },
      "id": "validate-and-classify",
      "name": "Validate And Classify Suite Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "getRepositoryIssues",
        "owner": "nntin",
        "repository": "gsnake",
        "filters": {
          "state": "open"
        }
      },
      "id": "get-issues",
      "name": "Get Issues Of Repository",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "githubApi": {
          "id": "github_actions_token",
          "name": "GitHub Actions Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Find tracking issue with exact title match\nconst TRACKING_TITLE = '[n8n] Automated Tests: Failure detected';\n\nconst allItems = $input.all();\nconst issues = allItems.slice(1); // Skip first item (validated input)\nconst validatedData = allItems[0].json;\n\n// Find matching open issue\nconst matchingIssues = issues\n  .map(item => item.json)\n  .filter(issue => issue.title === TRACKING_TITLE)\n  .sort((a, b) => a.number - b.number); // Sort by number (oldest first)\n\nconst openIssue = matchingIssues.length > 0 ? matchingIssues[0] : null;\nconst open_issue_exists = openIssue !== null;\n\nconsole.log('Issue lookup result:', {\n  open_issue_exists,\n  issue_number: openIssue?.number || null,\n  has_failures: validatedData.has_failures\n});\n\nreturn [{\n  json: {\n    ...validatedData,\n    open_issue_exists,\n    open_issue: openIssue\n  }\n}];"
      },
      "id": "find-matching-issue",
      "name": "Find Matching Open Tracking Issue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.open_issue_exists }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.has_failures }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "open_issue_with_failures"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.open_issue_exists }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.has_failures }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "open_issue_with_success"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.open_issue_exists }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.has_failures }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no_issue_with_failures"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.open_issue_exists }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  },
                  {
                    "leftValue": "={{ $json.has_failures }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "no_issue_with_success"
            }
          ]
        },
        "options": {}
      },
      "id": "decide-action",
      "name": "Decide Action",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build failure comment for existing open issue\nconst data = $input.first().json;\nconst { summary, successful_runs, unsuccessful_runs } = data;\n\nconst successList = successful_runs\n  .map(r => `- ✅ [${r.target_id}](${r.run_url})`)\n  .join('\\n');\n\nconst failureList = unsuccessful_runs\n  .map(r => {\n    const status = r.conclusion || r.error_code || r.status;\n    const url = r.run_url ? `[${r.target_id}](${r.run_url})` : r.target_id;\n    return `- ❌ ${url} - ${status}`;\n  })\n  .join('\\n');\n\nconst body = `## CI Failure Detected\\n\\n**Summary**: ${summary.failed + summary.errors} of ${summary.total} workflows failed\\n\\n### Failed Workflows\\n${failureList}\\n\\n### Successful Workflows\\n${successList}\\n\\n---\\n*Updated: ${new Date().toISOString()}*`;\n\nreturn [{\n  json: {\n    ...data,\n    comment_body: body\n  }\n}];"
      },
      "id": "build-failure-comment",
      "name": "Build Failure Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 100]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build recovery comment\nconst data = $input.first().json;\nconst { summary, successful_runs } = data;\n\nconst successList = successful_runs\n  .map(r => `- ✅ [${r.target_id}](${r.run_url})`)\n  .join('\\n');\n\nconst body = `## ✅ CI Recovery Detected\\n\\n**All workflows are now passing!** (${summary.passed}/${summary.total} successful)\\n\\n### Successful Workflows\\n${successList}\\n\\n---\\n*Closing this issue. A new one will be created if failures occur again.*\\n*Updated: ${new Date().toISOString()}*`;\n\nreturn [{\n  json: {\n    ...data,\n    comment_body: body\n  }\n}];"
      },
      "id": "build-recovery-comment",
      "name": "Build Recovery Comment",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Build new issue body\nconst data = $input.first().json;\nconst { summary, successful_runs, unsuccessful_runs } = data;\n\nconst successList = successful_runs.length > 0\n  ? successful_runs.map(r => `- ✅ [${r.target_id}](${r.run_url})`).join('\\n')\n  : '*None*';\n\nconst failureList = unsuccessful_runs\n  .map(r => {\n    const status = r.conclusion || r.error_code || r.status;\n    const url = r.run_url ? `[${r.target_id}](${r.run_url})` : r.target_id;\n    return `- ❌ ${url} - ${status}`;\n  })\n  .join('\\n');\n\nconst body = `## CI Failure Detected\\n\\n**Summary**: ${summary.failed + summary.errors} of ${summary.total} workflows failed\\n\\n### Failed Workflows\\n${failureList}\\n\\n### Successful Workflows\\n${successList}\\n\\n---\\n*This issue was automatically created by the n8n CI monitoring workflow.*\\n*It will be automatically closed when all CI runs pass.*\\n*Created: ${new Date().toISOString()}*`;\n\nreturn [{\n  json: {\n    ...data,\n    issue_title: '[n8n] Automated Tests: Failure detected',\n    issue_body: body\n  }\n}];"
      },
      "id": "build-new-issue-body",
      "name": "Build New Issue Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "nntin",
        "repository": "gsnake",
        "issueNumber": "={{ $json.open_issue.number }}",
        "body": "={{ $json.comment_body }}"
      },
      "id": "comment-existing-issue",
      "name": "Comment On Existing Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1450, 100],
      "credentials": {
        "githubApi": {
          "id": "github_actions_token",
          "name": "GitHub Actions Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "createComment",
        "owner": "nntin",
        "repository": "gsnake",
        "issueNumber": "={{ $json.open_issue.number }}",
        "body": "={{ $json.comment_body }}"
      },
      "id": "comment-recovery",
      "name": "Comment Recovery",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1450, 300],
      "credentials": {
        "githubApi": {
          "id": "github_actions_token",
          "name": "GitHub Actions Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "create",
        "owner": "nntin",
        "repository": "gsnake",
        "title": "={{ $json.issue_title }}",
        "body": "={{ $json.issue_body }}"
      },
      "id": "create-new-issue",
      "name": "Create New Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1450, 500],
      "credentials": {
        "githubApi": {
          "id": "github_actions_token",
          "name": "GitHub Actions Token"
        }
      }
    },
    {
      "parameters": {
        "resource": "issue",
        "operation": "edit",
        "owner": "nntin",
        "repository": "gsnake",
        "issueNumber": "={{ $json.open_issue.number }}",
        "editFields": {
          "state": "closed"
        }
      },
      "id": "close-issue",
      "name": "Close Issue",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [1650, 300],
      "credentials": {
        "githubApi": {
          "id": "github_actions_token",
          "name": "GitHub Actions Token"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Return action summary for path 1: commented on existing issue\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    status: 'completed',\n    action: 'commented_existing_issue',\n    failure_detected: true,\n    issue: {\n      number: data.open_issue.number,\n      state: 'open',\n      html_url: data.open_issue.html_url\n    },\n    summary: data.summary,\n    successful_runs: data.successful_runs,\n    unsuccessful_runs: data.unsuccessful_runs\n  }\n}];"
      },
      "id": "return-commented-existing",
      "name": "Return Commented Existing",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 100]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Return action summary for path 2: commented and closed issue\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    status: 'completed',\n    action: 'commented_and_closed_issue',\n    failure_detected: false,\n    issue: {\n      number: data.open_issue.number,\n      state: 'closed',\n      html_url: data.open_issue.html_url\n    },\n    summary: data.summary,\n    successful_runs: data.successful_runs,\n    unsuccessful_runs: data.unsuccessful_runs\n  }\n}];"
      },
      "id": "return-closed-issue",
      "name": "Return Closed Issue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1850, 300]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Return action summary for path 3: created new issue\nconst data = $input.first().json;\nconst createdIssue = $input.first().json;\n\nreturn [{\n  json: {\n    status: 'completed',\n    action: 'created_new_issue',\n    failure_detected: true,\n    issue: {\n      number: createdIssue.number,\n      state: 'open',\n      html_url: createdIssue.html_url\n    },\n    summary: data.summary,\n    successful_runs: data.successful_runs,\n    unsuccessful_runs: data.unsuccessful_runs\n  }\n}];"
      },
      "id": "return-created-issue",
      "name": "Return Created Issue",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1650, 500]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Return action summary for path 4: no action needed\nconst data = $input.first().json;\n\nreturn [{\n  json: {\n    status: 'completed',\n    action: 'no_action',\n    failure_detected: false,\n    issue: null,\n    summary: data.summary,\n    successful_runs: data.successful_runs,\n    unsuccessful_runs: data.unsuccessful_runs\n  }\n}];"
      },
      "id": "return-no-action",
      "name": "Return No Action",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 700]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Validate And Classify Suite Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate And Classify Suite Result": {
      "main": [
        [
          {
            "node": "Get Issues Of Repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Issues Of Repository": {
      "main": [
        [
          {
            "node": "Find Matching Open Tracking Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Matching Open Tracking Issue": {
      "main": [
        [
          {
            "node": "Decide Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decide Action": {
      "main": [
        [
          {
            "node": "Build Failure Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build Recovery Comment",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build New Issue Body",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return No Action",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Failure Comment": {
      "main": [
        [
          {
            "node": "Comment On Existing Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Recovery Comment": {
      "main": [
        [
          {
            "node": "Comment Recovery",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build New Issue Body": {
      "main": [
        [
          {
            "node": "Create New Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment On Existing Issue": {
      "main": [
        [
          {
            "node": "Return Commented Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Comment Recovery": {
      "main": [
        [
          {
            "node": "Close Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create New Issue": {
      "main": [
        [
          {
            "node": "Return Created Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Close Issue": {
      "main": [
        [
          {
            "node": "Return Closed Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-02-12T00:00:00.000Z",
  "versionId": "1",
  "id": "github-parent-ci-failure-issue-manager",
  "active": false
}
